#home_heading {
  position: relative;
  min-height: 270px;
  background: url("/other/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
