.contact_form {
  padding-top: 5vh;
  /* background-image: linear-gradient(to bottom, lightgray, gray); */
  height: 100vh;
}

.contact_form__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.messageAreaWidth {
  width: 70vw;
}

.alignPhoneNumber {
  padding-top: 15vh;
  text-align: center;
  color: gray;
}
