.contact_form {
  padding-top: 15vh;
  background-image: linear-gradient(to bottom, lightgray, black);
  height: 100vh;
}

.contact_form__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.messageAreaWidth {
  width: 70vw;
}
