.product_listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

@media (max-width: 620px) {
  .align_products {
    display: block;
    margin-top: 20vh;
  }
}

@media (min-width: 621px) {
  .align_products {
    display: flex;
    margin-top: 20vh;
  }
}
