@media (max-width: 620px) {
  .align_products {
    display: block;
    margin-top: 20vh;
  }
}

@media (min-width: 621px) {
  .align_products {
    display: flex;
    margin-top: 20vh;
  }
}

@media (max-width: 620px) {
  .align_about {
    display: block;
    margin-top: 15vh;
  }
}

@media (min-width: 621px) {
  .align_about {
    display: flex;
    margin-top: 15vh;
  }
}
